
@{
    ViewBag.Title = "Index";
}
<center><h2 style="margin-top: 5px">@ViewBag.nombre</h2></center>

<body>
    <center><h2 style="margin-top: 5px">@ViewBag.nombre</h2></center>
    <center><h2>Bienvenido Al Sistema</h2></center>

    <div class="account-wall">
        <center>
            <img class="profile-img w-100" src="~/Imagen/cam.jpg" alt="">
        </center>
    </div>
</body>


